

.siteLayoutContent{
    background-color: var(--color-primary-dark);
    min-height: 280px;
    padding: 24px;
    background: #fff;
    border-radius: 10px;
}

.backTop{
    height: 40;
    width: 40;
    line-height: '40px';
    border-radius: 4;
    background-color: '#1088e9';
    color: '#fff';
    text-align: 'center';
    font-size: 14;
}